body {
  background-color: #f5f5f5;
  color: #001e20;
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 60px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc; /* Light gray border */
  background-color: #fff; /* White background */
  color: #001e20; /* Darker text color */
}

.content-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure the content section remains the same width */
}

.holdings,
.transactions {
  background-color: #fff; /* White background */
  width: 95%;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.holdings-header,
.transactions-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.holdings-header h2,
.transactions-header h2 {
  margin: 0;
  color: #001e20;
}

.filter-buttons {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}

.filter-buttons button {
  background-color: #fff;
  border: none;
  color: #147c83;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.filter-buttons button:hover {
  background-color: #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  color: #333;
}
th,
td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #147c83;
}

button.favorite {
  background: none;
  border: none;
  color: #147c83;
  cursor: pointer;
}

button.favorite:hover {
  color: #ff9900;
}

button.page-nav {
  border: none;
  color: #001e20;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

button.page-nav:hover {
  background-color: #ccc;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.favorite img:hover .star {
  fill: yellow;
}
