.quick-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  margin: 10px;
}

.quick-actions button {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.quick-actions button:hover {
  background-color: #ccc;
}

.quick-actions button img {
  margin-right: 10px;
}
